In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

In [ ]:
def reverse_string(s):
    l = 0
    r = len(s) - 1
    while l<r:
      s[l],s[r] = s[r],s[l]
      l +=1
      r-=1
    return s


s = [i for i in input().split()]
print(reverse_string(s))

1 2 3 4 5
['5', '4', '3', '2', '1']

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
n = int(input())
print(factorial(n))

4
24

In [ ]:
a = [-3,-1,0,1,4,7]
def Binary_search(arr,target):
  N = len(arr)
  L = 0
  R = N-1

  while L <= R:
    M =(L + R)//2
    if arr[M] == target:
      return True
    elif target < arr[M] :
      R = M-1
    else:
      L = M+1

  return False

print(Binary_search(a,-2))

False

In [ ]:

#Linked List
class SinglyNode:
  def __init__(self,value,next =None):
    self.val = value
    self.next = next
  def __str__(self):
    return str(self.val)
Head = SinglyNode(1)
A = SinglyNode(3)
B = SinglyNode(7)
C = SinglyNode(8)

Head.next = A
A.next = B
B.next = C

In [ ]:
curr = Head
while curr:
  print(curr.val)
  curr =  curr.next

1
3
7
8

In [ ]:
# Build Min Heap (Heapify)



A =[-4 , 3,  1 , 0 , 2 , 5 , 10, 8 ,12, 9]

import heapq
heapq.heapify(A)

print(A)

[-4, 0, 1, 3, 2, 5, 10, 8, 12, 9]

In [ ]:
heapq.heappush(A,4)
print(A)

[-4, 0, 1, 3, 2, 5, 10, 8, 12, 9, 4]

In [ ]:
#Max heap
B  = [-4 , 3,  1 , 0 , 2 , 5 , 10, 8 ,12, 9]
for i in range(len(B)):
  B[i] = -B[i]
heapq.heapify(B)
print(B)

[-12, -9, -10, -8, -2, -5, -1, -3, 0, 4]

In [ ]:
max = - heapq.heappop(B)
print(max)

12

In [ ]:
heapq.heappush(B,-7)
print(B)

[-10, -9, -5, -8, -7, 4, -1, -3, 0, -2, -7]

In [ ]:
#stack
s = []
s.append(1)
s.append(2)
s.append(3)
print(s)

[1, 2, 3]

In [ ]:
x = s.pop()
print(x)
print(s)

3
[1, 2]

In [ ]:
if s:
  print("stack is not empty")
else:
  print("stack is empty")

stack is not empty

In [ ]:
# Queue
from collections import deque
q = deque()
print(q)

deque([])

In [ ]:
q.append(1)
q.append(2)
q.append(3)
print(q)

deque([1, 2, 3])

In [ ]:
x = q.popleft()
print(x)
print(q)

1
deque([2, 3])

In [ ]:
#hash set
s = set()
s.add(2)
s.add(5)
s.add(8)
print(s)

{8, 2, 5}

In [ ]:
if 8 in s:
  print(True)

True

In [ ]:

s.remove(8)
print(s)

{2, 5}

In [ ]:
# Hash maps

d = {"gokul" : 1 ,"gok" : 2,"go" : 3 }
print(d)

{'gokul': 1, 'gok': 2, 'go': 3}

In [ ]:
d['arsh'] = 4
print(d)

{'gokul': 1, 'gok': 2, 'go': 3, 'arsh': 4}

In [ ]:
if 'gokul' in d:
  print(True)
print(d['gok'])

True
2

In [ ]:
for k,v in d.items():
  print(k,v)

gokul 1
gok 2
go 3
arsh 4

In [ ]:
#Binary search
a = [-3,-1,0,1,4,7]

def Binary_search(arr,target):
  N = len(arr)
  L = 0
  R = N-1

  while L <= R:
    M =  (L + R)//2
    if arr[M] == target:
      return True
    elif target < arr[M] :
      R = M-1
    else:
      L = M+1

  return False

print(Binary_search(a,7))
print(Binary_search(a,-7))

True
False

In [ ]:
class Cat:
    def __init__(self, name):
        self.name = name


    def speak(self):
        print(f"{self.name} says Meow!")


class Dog:
    def __init__(self, name):
        self.name = name


    def speak(self):
        print(f"{self.name} says Woof")

dog1 = Dog("Buddy")
dog1.speak()
cat1 = Cat("Whiskers")
cat1.speak()

Buddy says Woof
Whiskers says Meow!

SQL QUERIES

In [ ]:
!apt-get update
!apt-get install -y mysql-server

!pip install mysql-connector-python

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:6 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:7 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.41-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 22 not upgraded.
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.2.0)

In [ ]:

!mysqld --skip-grant-tables &
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

In [ ]:
!sudo /etc/init.d/mysql start
!sudo mysql_secure_installation

 * Starting MySQL database server mysqld
   ...done.

Securing the MySQL server deployment.

Connecting to MySQL using a blank password.

VALIDATE PASSWORD COMPONENT can be used to test passwords
and improve security. It checks the strength of password
and allows the users to set only those passwords which are
secure enough. Would you like to setup VALIDATE PASSWORD component?

Press y|Y for Yes, any other key for No: no

Skipping password set for root as authentication with auth_socket is used by default.
If you would like to use password authentication instead, this can be done with the "ALTER_USER" command.
See https://dev.mysql.com/doc/refman/8.0/en/alter-user.html#alter-user-password-management for more information.

By default, a MySQL installation has an anonymous user,
allowing anyone to log into MySQL without having to have
a user account created for them. This is intended only for
testing, and to make the installation go a bit smoother.
You should remove them before moving into a production
environment.

Remove anonymous users? (Press y|Y for Yes, any other key for No) : no

 ... skipping.


Normally, root should only be allowed to connect from
'localhost'. This ensures that someone cannot guess at
the root password from the network.

Disallow root login remotely? (Press y|Y for Yes, any other key for No) : no

 ... skipping.
By default, MySQL comes with a database named 'test' that
anyone can access. This is also intended only for testing,
and should be removed before moving into a production
environment.


Remove test database and access to it? (Press y|Y for Yes, any other key for No) : no

 ... skipping.
Reloading the privilege tables will ensure that all changes
made so far will take effect immediately.

Reload privilege tables now? (Press y|Y for Yes, any other key for No) : no

 ... skipping.
All done!

29164

In [ ]:
!service mysql restart

 * Stopping MySQL database server mysqld
   ...done.
 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [ ]:
!mysql -u root -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'Gokul29164'; FLUSH PRIVILEGES;"

In [ ]:
import mysql.connector

gokul = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Gokul29164"
)

In [ ]:
cursor = gokul.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS MY_DATA")

cursor.execute("SHOW DATABASES")

for x in cursor:
  print(x)

('MY_DATA',)
('MY_DATABASE',)
('MY_DB',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [ ]:
gokul = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Gokul29164",
  database='MY_DATA'
)
cursor = gokul.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT NOT NULL,
    gender ENUM('Male', 'Female') NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    admission_date DATE DEFAULT (CURRENT_DATE)
);
""")

print("Table 'students' created successfully!")

Table 'students' created successfully!

In [ ]:
cursor.executemany("""
INSERT IGNORE INTO students (name, age, gender, email)
VALUES (%s, %s, %s, %s)""", [
    ("Gokul", 22, "Male", "gokul1234@gmail.com"),
    ("Smith", 24, "Male", "smith1234@gmail.com"),
    ("Shruthi", 23, "Female", "shruthi@gmail.com"),
    ("Diana ", 25, "Female", "diana@gmail.com"),
    ("Poorna", 26, "Male", "poorna@gmail.com")
])

gokul.commit()
print("Sample data inserted into 'students' table!")

Sample data inserted into 'students' table!

In [ ]:
cursor.execute("SELECT * FROM students;")
for row in cursor.fetchall():
    print(row)

(1, 'Gokul', 22, 'Male', 'gokul1234@gmail.com', datetime.date(2025, 2, 15))
(2, 'Smith', 24, 'Male', 'smith1234@gmail.com', datetime.date(2025, 2, 15))
(3, 'Shruthi', 23, 'Female', 'shruthi@gmail.com', datetime.date(2025, 2, 15))
(4, 'Diana ', 25, 'Female', 'diana@gmail.com', datetime.date(2025, 2, 15))
(5, 'Poorna', 26, 'Male', 'poorna@gmail.com', datetime.date(2025, 2, 15))

In [ ]:
cursor.execute("SELECT name, age FROM students;")
for row in cursor.fetchall():
    print(row)

('Gokul', 22)
('Smith', 24)
('Shruthi', 23)
('Diana ', 25)
('Poorna', 26)

In [ ]:
cursor.execute("SELECT * FROM students WHERE age > 23;")
for row in cursor.fetchall():
    print(row)

(2, 'Smith', 24, 'Male', 'smith1234@gmail.com', datetime.date(2025, 2, 15))
(4, 'Diana ', 25, 'Female', 'diana@gmail.com', datetime.date(2025, 2, 15))
(5, 'Poorna', 26, 'Male', 'poorna@gmail.com', datetime.date(2025, 2, 15))

In [ ]:
cursor.execute("SELECT COUNT(*) FROM students;")
print(cursor.fetchone()[0])

5

In [ ]:
#Average age of students
cursor.execute("SELECT AVG(age) AS avg_age FROM students")
print(cursor.fetchall())

[(Decimal('24.0000'),)]

In [ ]:
cursor.execute("SELECT MAX(age) AS oldest, MIN(age) AS youngest FROM students;")
print(cursor.fetchone())

(26, 22)

In [ ]:
cursor.execute("SELECT * FROM students ORDER BY age ASC;")
for row in cursor.fetchall():
    print(row)

(1, 'Gokul', 22, 'Male', 'gokul1234@gmail.com', datetime.date(2025, 2, 15))
(3, 'Shruthi', 23, 'Female', 'shruthi@gmail.com', datetime.date(2025, 2, 15))
(2, 'Smith', 24, 'Male', 'smith1234@gmail.com', datetime.date(2025, 2, 15))
(4, 'Diana ', 25, 'Female', 'diana@gmail.com', datetime.date(2025, 2, 15))
(5, 'Poorna', 26, 'Male', 'poorna@gmail.com', datetime.date(2025, 2, 15))

In [ ]:
cursor.execute("SELECT * FROM students ORDER BY age DESC;")
for row in cursor.fetchall():
    print(row)

(5, 'Poorna', 26, 'Male', 'poorna@gmail.com', datetime.date(2025, 2, 15))
(4, 'Diana ', 25, 'Female', 'diana@gmail.com', datetime.date(2025, 2, 15))
(2, 'Smith', 24, 'Male', 'smith1234@gmail.com', datetime.date(2025, 2, 15))
(3, 'Shruthi', 23, 'Female', 'shruthi@gmail.com', datetime.date(2025, 2, 15))
(1, 'Gokul', 22, 'Male', 'gokul1234@gmail.com', datetime.date(2025, 2, 15))

In [ ]:
cursor.execute("SELECT * FROM students ORDER BY age DESC LIMIT 3;")
for row in cursor.fetchall():
    print(row)

(5, 'Poorna', 26, 'Male', 'poorna@gmail.com', datetime.date(2025, 2, 15))
(4, 'Diana ', 25, 'Female', 'diana@gmail.com', datetime.date(2025, 2, 15))
(2, 'Smith', 24, 'Male', 'smith1234@gmail.com', datetime.date(2025, 2, 15))

In [ ]:
cursor.execute("""
SELECT name, age,
    CASE
        WHEN age >= 25 THEN 'Senior'
        WHEN age >= 22 THEN 'Junior'
        ELSE 'Newcomer'
    END AS category
FROM students;
""")

for row in cursor.fetchall():
    print(row)

('Gokul', 22, 'Junior')
('Smith', 24, 'Junior')
('Shruthi', 23, 'Junior')
('Diana ', 25, 'Senior')
('Poorna', 26, 'Senior')

In [ ]:
cursor.execute("""
SELECT * FROM students
WHERE age > (SELECT AVG(age) FROM students);
""")

for row in cursor.fetchall():
    print(row)

(4, 'Diana ', 25, 'Female', 'diana@gmail.com', datetime.date(2025, 2, 15))
(5, 'Poorna', 26, 'Male', 'poorna@gmail.com', datetime.date(2025, 2, 15))

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(100) NOT NULL,
    credits INT NOT NULL
);
""")

cursor.executemany("""
INSERT IGNORE INTO courses (course_name, credits)
VALUES (%s, %s)""", [
    ("Math 101", 4),
    ("Physics 201", 3),
    ("Chemistry 301", 4)
])

gokul.commit()
print("Courses table created and populated!")

Courses table created and populated!

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS enrollments (
    enroll_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    course_id INT,
    enroll_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (student_id) REFERENCES students(student_id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);
""")
print("Enrollments table created!")

Enrollments table created!

In [ ]:
cursor.executemany("""
INSERT IGNORE INTO enrollments (student_id, course_id)
VALUES (%s, %s)""", [
    (1, 1), (1, 2), (2, 3), (3, 1), (4, 2), (5, 3)
])

gokul.commit()
print("Students enrolled in courses!")

Students enrolled in courses!

In [ ]:
cursor.execute("""
SELECT students.name, courses.course_name
FROM students
JOIN enrollments ON students.student_id = enrollments.student_id
JOIN courses ON enrollments.course_id = courses.course_id;
""")

for row in cursor.fetchall():
    print(row)

('Gokul', 'Math 101')
('Gokul', 'Physics 201')
('Gokul', 'Math 101')
('Gokul', 'Physics 201')
('Smith', 'Chemistry 301')
('Smith', 'Chemistry 301')
('Shruthi', 'Math 101')
('Shruthi', 'Math 101')
('Diana ', 'Physics 201')
('Diana ', 'Physics 201')
('Poorna', 'Chemistry 301')
('Poorna', 'Chemistry 301')

In [ ]:
cursor.execute("UPDATE students SET age = 27 WHERE name = 'Diana';")
gokul.commit()
print("Updated Diana's age!")

Updated Diana's age!

In [ ]:
cursor.execute("""
DELETE FROM students WHERE student_id NOT IN
(SELECT DISTINCT student_id FROM enrollments);
""")
gokul.commit()
print("Deleted students who haven't enrolled in any course!")

Deleted students who haven't enrolled in any course!

In [ ]:
cursor.close()
gokul.close()
print("Connection closed.")

Connection closed.